@model IEnumerable<Garage_2._1.Models.Parkingspot>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("SuperIndex", "SuperIndex")

@Html.Partial("~/Views/Shared/_ListParkingspots.cshtml", Model);